:root {
  --primarycolor: #0067ff;
  --yellowcolor: #feb60d;
  --purplecolor: #9771ff;
  --irisbluecolor: #01b5c5;
  --headingcolor: #181a1e;
  --textcolor: #4e545f;
  --panel-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

body {
  font-family: "Manrope", sans-serif;
}

.SignUp-section {
  width: 100vw;
  height: 90vh;
}
.SignUp-Container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.img-section-Signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 2;
}
.img-section-Signup > img {
  width: 350px;
  height: 450px;
  margin-top: 20px;
  border-radius: 20px;
}
.form-section-SignUp {
  flex: 2;
  margin-top: 20px;
}
.form-section-SignUp > h2 {
  font-size: 50px;
  font-family: sans-serif;
  color: var(--headingcolor);
  user-select: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.form-section-SignUp > p {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: var(--textcolor);
}
.Sign-up-from {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}
.from-div1 {
  /* margin: 12px; */
  margin-top: 30px;
}
.from-div1 > input {
  width: 270px;
  margin-right: 12px;
  border-radius: 12px;
  border: none;
  height: 42px;
  outline: none;
  padding: 10px;
  font-family: sans-serif;
  color: var(--textcolor);
  font-size: 1.3rem;
  background-color: rgb(222, 228, 233);
}
.Sign-up-from > button {
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
  font-family: sans-serif;
  color: white;
  background-color: var(--primarycolor);
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.Sign-up-from>button:hover{
    border-radius: 5px;
    padding: 19px;
    color: var(--textcolor);
    background-color: rgb(215, 223, 230);

}

@media only screen and (max-width: 768px) {
  .SignUp-Container {
    display: block;
    gap: 2rem;
  }
  .img-section-Signup > img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    border-radius: 20px;
  }
  .from-div1 > input {
    width: 270px;
    margin-right: 12px;
    border-radius: 12px;
    border: none;
    height: 42px;
    outline: none;
    padding: 10px;
    font-family: sans-serif;
    margin-top: 6px;
    font-size: 1.3rem;
    background-color: rgb(222, 228, 233);
  }
  .form-section-SignUp > h2 {
    font-size: 50px;
    font-family: sans-serif;
    color: var(--headingcolor);
    user-select: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
  }
  .form-section-SignUp {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
  .Sign-up-from {
    display: block;
    margin-right: 0px;
    margin-left: 40px;
    gap: 2rem;
  }
}
