*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primarycolor: #0067ff;
  --yellowcolor: #feb60d;
  --purplecolor: #9771ff;
  --irisbluecolor: #01b5c5;
  --headingcolor: #181a1e;
  --textcolor: #4e545f;

  --panel-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

body{
  font-family: 'Manrope', sans-serif;
}

.sticky__header{
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  box-shadow: 3px 3px -8px 3px #ddd;
}